
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_commerce_2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/E_commerce_2.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid mt-1 mb-1">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/Image/icon3.jpg" alt="JAPANJO" class="circle ml-5 mr-5" hight="65" width="65">

                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">
                       
                        <li class="nav-item ">
                            <a class="nav-link text-danger fs-4 text-center mr-5" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                       
                        <li class="nav-item ">
                            <a class="nav-link text-white bg-dark mt-2" asp-controller="Products" asp-action="Index">All Products</a>
                        </li>
                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link text-white bg-dark mt-2" asp-page="/CategoriesPage/Index">Catetgories Details</a>
                            </li>
                        }
                        <li class="nav-item ">
                            @await Component.InvokeAsync("CategoriesMenu")
                        </li>
                        
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <span class="text-yellow">Welcome, @User.Identity.Name!</span>
                            </li>

                            <li class="nav-item order-4">
                                <a class="nav-link text-white bg-dark mt-2" href="/TheCart/Index">
                                    <span class="d-inline">Cart:</span>@await Component.InvokeAsync("Cart")
                                </a>
                            </li>
                            @if (User.IsInRole("Administrator"))
                            {
                                <li class="nav-item order-4 ">
                                    <a class="nav-link text-white bg-dark mt-2" href="/Orders/Index">Orders</a>
                                </li>
                            }

                            <li class="nav-item order-4 ">
                                <a class="nav-link text-white bg-dark mt-2" asp-controller="Auth" asp-action="Logout">Logout</a>
                            </li>
                            
                        }
                        else
                        {
                            <li class="nav-item order-4 ">
                                <a class="nav-link text-white bg-dark FullBody mt-2" href="/Auth/Index">LogIn</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white bg-dark FullBody mt-2" href="/Auth/Register">Register</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-white bg-dark FullBody mt-2" href="/AboutUS/Index">AboutUS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Japan Shop - <a href="/AboutUS/Index">AboutUS</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
