@model E_commerce_2.Models.Categories

@{
    ViewData["Title"] = "Edit";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 60vh;">
    <div class="col-md-6">
        <h1 class="text-center text-danger" >Edit Categories</h1>
        <hr />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group mt-5">
                <div class="d-flex justify-content-between">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Details" asp-controller="Categories" asp-route-id="@Model.Id" class="btn btn-danger">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
