@model E_commerce_2.Models.Product

@{
    ViewData["Title"] = "ReplacePicture";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center text-danger mt-4 mb-3">Replace Picture</h1>
            <hr />

            <form asp-action="ReplacePicture" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group mt-4 mb-4 row justify-content-center">
                    <div class="input-group row justify-content-center">
                        <div class="custom-file row justify-content-center">
                            <input type="file" class="custom-file-input btn-danger row justify-content-center" id="file" name="file">
                        </div>
                    </div>
                </div>

                <div class="form-group mt-5 mb-3 ">
                    <div class="row justify-content-center">
                        <div class="col-md-3">
                            <input type="submit" value="Replace Picture" class="btn btn-danger" />
                        </div>
                        <div class="col-md-3">
                            <a asp-action="Index" class="btn btn-primary">Back to List</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
