@model IEnumerable<Categories>


<li class="nav-item dropdown mt-2 ">
    <a class="nav-link dropdown-toggle bg-danger" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" asp-controller="Categories" asp-action="Index">
        Categories
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
        @foreach (var CAT in Model)
        {
            <li><a class="dropdown-item bg-danger" asp-Controller="Categories" asp-action="Details" asp-route-id="@CAT.Id">@CAT.Name</a> </li>
        }
    </ul>
</li>