@model IEnumerable<E_commerce_2.Models.Product>


@foreach (var item in Model)
{
    <h1> Name : @item.Name </h1>
    <br />
    <h2>ImageURL : @item.ImageURL</h2>
    <br />
    <h2>Price : @item.Price</h2>
    <br />
    <h2>Description : @item.Description</h2>
    <br />
   <hr />
}